---
---
{% if site.color_scheme and site.color_scheme != "nil" %}
  {% assign color_scheme = site.color_scheme %}
{% else %}
  {% assign color_scheme = "light" %}
{% endif %}
{% include css/just-the-docs.scss.liquid color_scheme=color_scheme %}


.img-right {
    float: right;
    background-color: #efefef;
    padding: 8px 10px;
    border-radius: 10px;
    margin: 0px 0px 0px 10px;
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}


.site-logo {
  width: 210px;
}

.site-nav, .site-header, .site-footer {
    width: 100%;
}
.site-header {
    background-color: #fff;
}

.side-bar {
    border-right: 0px;
}

p.highlight, blockquote.highlight {
  background: rgba(255, 235, 130, 0.2);
  border-left: 4px solid #e7af06;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.highlight > .highlight-title, blockquote.highlight > .highlight-title {
  color: #e7af06;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

p.highlight-title, blockquote.highlight-title {
  background: rgba(255, 235, 130, 0.2);
  border-left: 4px solid #e7af06;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.highlight-title > p:first-child, blockquote.highlight-title > p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  color: #e7af06;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

blockquote.highlight {
  margin-left: 0;
  margin-right: 0;
}
blockquote.highlight > p:first-child {
  margin-top: 0;
}
blockquote.highlight > p:last-child {
  margin-bottom: 0;
}

blockquote.highlight-title {
  margin-left: 0;
  margin-right: 0;
}
blockquote.highlight-title > p:nth-child(2) {
  margin-top: 0;
}
blockquote.highlight-title > p:last-child {
  margin-bottom: 0;
}

p.important, blockquote.important {
  background: rgba(44, 132, 250, 0.2);
  border-left: 4px solid #183385;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.important::before, blockquote.important::before {
  color: #183385;
  content: "Обратите внимание";
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}
p.important > .important-title, blockquote.important > .important-title {
  color: #183385;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

p.important-title, blockquote.important-title {
  background: rgba(44, 132, 250, 0.2);
  border-left: 4px solid #183385;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.important-title > p:first-child, blockquote.important-title > p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  color: #183385;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

blockquote.important {
  margin-left: 0;
  margin-right: 0;
}
blockquote.important > p:first-child {
  margin-top: 0;
}
blockquote.important > p:last-child {
  margin-bottom: 0;
}

blockquote.important-title {
  margin-left: 0;
  margin-right: 0;
}
blockquote.important-title > p:nth-child(2) {
  margin-top: 0;
}
blockquote.important-title > p:last-child {
  margin-bottom: 0;
}

p.new, blockquote.new {
  background: rgba(65, 214, 147, 0.2);
  border-left: 4px solid #026e57;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.new::before, blockquote.new::before {
  color: #026e57;
  content: "Новое";
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}
p.new > .new-title, blockquote.new > .new-title {
  color: #026e57;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

p.new-title, blockquote.new-title {
  background: rgba(65, 214, 147, 0.2);
  border-left: 4px solid #026e57;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.new-title > p:first-child, blockquote.new-title > p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  color: #026e57;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

blockquote.new {
  margin-left: 0;
  margin-right: 0;
}
blockquote.new > p:first-child {
  margin-top: 0;
}
blockquote.new > p:last-child {
  margin-bottom: 0;
}

blockquote.new-title {
  margin-left: 0;
  margin-right: 0;
}
blockquote.new-title > p:nth-child(2) {
  margin-top: 0;
}
blockquote.new-title > p:last-child {
  margin-bottom: 0;
}

p.note, blockquote.note {
  background: rgba(114, 83, 237, 0.2);
  border-left: 4px solid #381885;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.note::before, blockquote.note::before {
  color: #381885;
  content: "Заметка";
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}
p.note > .note-title, blockquote.note > .note-title {
  color: #381885;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

p.note-title, blockquote.note-title {
  background: rgba(114, 83, 237, 0.2);
  border-left: 4px solid #381885;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.note-title > p:first-child, blockquote.note-title > p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  color: #381885;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

blockquote.note {
  margin-left: 0;
  margin-right: 0;
}
blockquote.note > p:first-child {
  margin-top: 0;
}
blockquote.note > p:last-child {
  margin-bottom: 0;
}

blockquote.note-title {
  margin-left: 0;
  margin-right: 0;
}
blockquote.note-title > p:nth-child(2) {
  margin-top: 0;
}
blockquote.note-title > p:last-child {
  margin-bottom: 0;
}

p.warning, blockquote.warning {
  background: rgba(247, 126, 126, 0.2);
  border-left: 4px solid #dd2e2e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.warning::before, blockquote.warning::before {
  color: #dd2e2e;
  content: "Внимание!";
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}
p.warning > .warning-title, blockquote.warning > .warning-title {
  color: #dd2e2e;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

p.warning-title, blockquote.warning-title {
  background: rgba(247, 126, 126, 0.2);
  border-left: 4px solid #dd2e2e;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  padding: 0.8rem;
}
p.warning-title > p:first-child, blockquote.warning-title > p:first-child {
  margin-top: 0;
  margin-bottom: 0;
  color: #dd2e2e;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 0.125rem;
}

blockquote.warning {
  margin-left: 0;
  margin-right: 0;
}
blockquote.warning > p:first-child {
  margin-top: 0;
}
blockquote.warning > p:last-child {
  margin-bottom: 0;
}

blockquote.warning-title {
  margin-left: 0;
  margin-right: 0;
}
blockquote.warning-title > p:nth-child(2) {
  margin-top: 0;
}
blockquote.warning-title > p:last-child {
  margin-bottom: 0;
}




.btn, .btn:visited {
  background: #f1f2f6;
  padding: 0px 40px 0px 40px;
  border-radius: 10px;
  color: #6b7a86;
  box-shadow: 0 0 0;
  line-height: 46px;
  font-weight: 400;
}

.btn:hover, .btn-primary:hover {
  background: #f2cc45;
  color: #353F47;
}

.btn:active, .btn-primary:active {
  background: #e9c442;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background: #f9d247;
  box-shadow: 0 0 0;
  font-weight: 500;
}

a, a:link, a:hover, a:visited {
  color: #28A1E4
}

a:hover {
  background-color: #B0D2F0;
}

.nav-list-item,
.nav-list-item a,
.nav-list-item a:link,
.nav-list-item a:active,
.nav-list-item a:visited {
	color: #353F47
}