.tab {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px -20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    position: relative;
}

.tab > li{margin:0px}

.tab :first-child {
    padding-left: 20px;
}

.tab > * > a {
    display: block;
    text-align: center;
    padding: 9px 25px;
    color: #555;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 80%;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
    background-color: #efefef;
}

.tab > .active > a {
    color: #222;
    border-color: #ffdd2d;
    background-color:#f2cc45;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
}

.tab > li > a {
    text-decoration: none;
    cursor: pointer;
}

ul.tab-content {
    padding-left: 0px;
    margin-top: 0px;
}

.tab-content {
    padding: 0px;
    margin: 0px;
    background-color: #f5f6fa;
}

.tab-content > li {
    display: none;
}

.tab-content > li.active {
    display: initial;
}

ul.tab-content > li::before,
ul.tab > li::before {
    content: "";
    margin-left: 0px;
}

ul.tab-content > li pre {
   margin: 0px;
   padding: 15px 10px 15px 10px;
   background-color: #292d3e;
   color: #CCC;
   border-radius: 0px 0px 4px 4px;
}

.tab-content code {
  background-color: #292d3e;
  border: 0px;
} 

.tab-block {
  width:100%;
}