.tab {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 0px 0px -20px;
    padding: 0;
    list-style: none;
    position: relative;
}

.tab > * {
    flex: none;
    position: relative;
}

.tab > li{margin:0px}

.tab :first-child {
    padding-left: 20px;
}

.tab > * > a,
.tab > * > a:link,
.tab > * > a:visited {
    display: block;
    text-align: center;
    padding: 9px 25px;
    color: #555;
    border-bottom: 2px solid transparent;
    border-bottom-color: transparent;
    font-size: 80%;
    text-transform: uppercase;
    transition: color .1s ease-in-out;
    line-height: 20px;
    background-color: #efefef;
}

.tab > * > a:hover {
    background-color: #ccc;
}

.tab > .active > a {
    color: #222;
    border-color: #ffdd2d;
    background-color:#f2cc45;
    font-weight: bold;
    border-radius: 4px 4px 0px 0px;
}

.tab > li > a {
    text-decoration: none;
    cursor: pointer;
}

ul.tab-content, ul.tab {
    padding-left: 0px;
    margin-top: 0px;
}

.tab-content {
    padding: 0px;
    margin: 0px;
    background-color: #f5f6fa;
    overflow-y: auto;
}

.tab-content > li {
    display: none;
    margin-top: 0px;
}

.tab-content > li .highlight {
    margin-top: 0px;
}

.tab-content > li.active {
    display: initial;
}

ul.tab-content > li::before,
ul.tab > li::before {
    content: "";
    margin-left: 0px;
}

ul.tab-content > li pre {
   margin: 0px;
   padding: 15px;
   border-radius: 0px 0px 4px 4px;
   border: 1px solid #f2cc45;
}

.tab-content code {
  border: 0px;
} 

.tab-block {
  width:100%;
}

.tab-hide {
  display: none
}